# MQTT settings
mqtt:
  base_topic: {{ mqtt_base_topic }}
  server: mqtt://{{ mqtt_server }}:{{ mqtt_port }}
  user: {{ mqtt_username }}
  password: {{ mqtt_password }}

# Serial settings
serial:
  # Location of the adapter (see first step of this guide)
  port: {{ zigbee2mqtt_device }}

advanced:
    network_key: {{ zigbee2mqtt_network_key }}
    
    # LOGGING
    log_output:
      - console
    # - file # disable file to save the SD
    # log_syslog:
    #   host: localhost # The host running syslogd, defaults to localhost.
    #   port: 123 # The port on the host that syslog is running on, defaults to syslogd's default port.
    #   protocol: tcp4 # The network protocol to log over (e.g. tcp4, udp4, tls4, unix, unix-connect, etc).
    #   path: /dev/log # The path to the syslog dgram socket (i.e. /dev/log or /var/run/syslog for OS X).
    #   pid: process.pid # PID of the process that log messages are coming from (Default process.pid).
    #   facility: local0 # Syslog facility to use (Default: local0).
    #   localhost: localhost # Host to indicate that log messages are coming from (Default: localhost).
    #   type: 5424 # The type of the syslog protocol to use (Default: BSD, also valid: 5424).
    #   app_name: Zigbee2MQTT # The name of the application (Default: Zigbee2MQTT).
    #   eol: '\n' # The end of line character to be added to the end of the message (Default: Message without modifications).
